  <% if (user) { %>
      <%- include('./partials/header') %>
      <h1> Hello, <%= user.name %>! </h1>
      <h2> Your health log:</h2>
      <table id="list">
        <thead>
          <tr>
            <th>Date</th>
            <th>BMI</th>
            <th>Mood</th>
            <th>Weight</th>
            <th>Exercise</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% logs.forEach(function(l) { %>
          <tr>
            <td><%= l.created_at %></td>
            <td><%= l.BMI %></td>
            <td><%= l.mood %></td>
            <td><%= l.weight %></td>
            <td><%= l.exercise %></td>
            <td>
              <form action="/logs/<%= logs.id %>?_method=DELETE"
                id="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
        <button><a href=customers/bmi>UPDATE LOG</button>
  <% } else { %>
      <a href="/auth/google">Login with Google</a>
  <% } %>
  <%- include('./partials/footer') %>

