  <% if (user) { %>
      <%- include('./partials/header') %>
      <table id="list">
        <thead>
          <tr>
            <th>Date</th>
            <th>BMI</th>
            <th>Mood</th>
            <th>Weight</th>
            <th>Exercise</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              p
              <td><%= log %></td>
              <td><%= user.email %></td>
              <td><%= user.BMI.forEach((i) => console.log(i)) %></td>
              <td><%= user.email %></td>
              <td><%= user.BMI.forEach((i) => console.log(i)) %></td>
              <td><a href="/customers/log-detail">DETAILS</a></td>
              <td><a href="/customers/log-detail">DELETE</a></td>
            </tr>
          </tbody>
        </table>
  <% } else { %>
      <a href="/auth/google">Login with Google</a>
  <% } %>
  <%- include('./partials/footer') %>

