    <% if (user) { %>
      <%- include('../partials/header') %>
      <table id="list">
        <thead>
          <tr>
            <th>Title</th>
            <th>Release<br>Year</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><a href="/customers/log-detail/">DETAILS</a></td>
            </tr>
          </tbody>
        </table>
        <% logs.forEach(function(l) { %>
          <li>
            <form action="/logs/<%= logs.id %>?_method=DELETE"
              class="delete-form" method="POST">
              <button type="submit">X</button>
            </form>
          </li>
          <% } %>
  <% } else { %>
      <a href="/auth/google">Login with Google</a>
  <% } %>
  <%- include('../partials/footer') %>

